body {
  font-family: sans-serif;
  margin: 0;
  background-color: #056679;
}

.todo-container {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.user-input {
  background-color: #ececec;
  padding: 18px;
  border-radius: 10px;
}

.user-input input {
  border-radius: 5px;
  border: 1px solid silver;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  color: grey;
}
.user-input textarea {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  height: 100px;
  color: grey;
}

.content {
  background-color: #3a403c;
  color: white;
  border-radius: 5px;
  padding: 15px;
}

.content h2 {
  color: #16de4b;
}
ul {
  text-align: left;
  padding: 0;
  background-color: #121713;
  border-radius: 5px;
}

#complete-text {
  color: #ececec;
}

#incomplete-text {
  color: #e31b1b;
}
.deleteicon {
  color: grey;
  cursor: pointer;
}
.deleteicon:hover {
  color: red;
}

.tickicon {
  color: chartreuse;
  cursor: pointer;
}
ul li {
  list-style: none;
  margin: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

.completed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.button-container{
  cursor: pointer;

}
.form-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.date-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 10px
}
.date-container p,label{
  color: white;
   font-style: italic
}
.check-icon{
  color:white;
  background-color: black
}
.close-icon{
  color:red;
  background-color:black
}

